---
import PageLayout from "@layouts/PageLayout.astro";
import { HOME, SITE, SOCIALS } from "@consts";
import "@/styles/global.css";
import { Typewriter } from "@components/Typewriter";
import {
  GitHubLogoIcon,
  LinkedInLogoIcon,
  EnvelopeClosedIcon,
} from "@radix-ui/react-icons";
import { Button } from "@components/ui/button";

const descriptiveStatements: string[] = [
  "I am a Graduate Student in Computer Engineering at Columbia University.",
  "My tech stack primarily consists of JavaScript/TypeScript(MERN), Java(Spring), Python(Django).",
  "I love crafting delightful user experience and wonderful things.",
  "Now, i'm actively seeking remote SDE intern positions and 2025 SDE Summer Internship opportunities.",
];
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <div class="animate flex flex-col justify-center">
    <main class="flex px-4 py-16 flex-col items-center">
      <div
        class="mt-12 md:mt-24 mb-6 md:mb-12 text-4xl md:text-6xl font-bold text-center"
      >
        👋&nbsp;&nbsp;Hi, I&apos;m Jiacheng Gu
      </div>
      <div class="w-full max-w-2xl h-4 text-center">
        <Typewriter client:load snippets={descriptiveStatements} />
      </div>
      <section class="animate space-y-4 mt-20">
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                {SOCIAL.NAME === "github" ? (
                  <a href="https://github.com/OrangeGoo" target="_blank">
                    <Button className="flex items-center space-x-2">
                      <GitHubLogoIcon />
                      <span>Github</span>
                    </Button>
                  </a>
                ) : (
                  <a
                    href="https://linkedin.com/in/jiacheng-gu-034054325"
                    target="_blank"
                  >
                    <Button className="flex items-center space-x-2">
                      <LinkedInLogoIcon />
                      <span>LinkedIn</span>
                    </Button>
                  </a>
                )}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <a href=`mailto:${SITE.EMAIL}`>
              <Button className="flex items-center space-x-2">
                <EnvelopeClosedIcon />
                <span>Email</span>
              </Button>
            </a>
          </li>
        </ul>
      </section>
    </main>
  </div>
</PageLayout>
